/*Hero Background Image*/
.hero-bg-image {
    height: 450px;
    background-image: url('http://via.placeholder.com/1920x450');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 420px) {
    .hero-bg-image {
        background-image: url('http://via.placeholder.com/420x450');
    }
}


@media (min-width: 421px) and (max-width: 991px) {
    .hero-bg-image {
        background-image: url('http://via.placeholder.com/1000x450');
    }
}
/*END Hero Background Image*/

.animated {
    animation-duration: 0.75s;
    animation-fill-mode: both;
}

.big-circle {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.btn-min-width {
    min-width: 204px;
}

button.close {
    margin-top: 5px;
    margin-right: 7px;
    font-size: 18px;
    color: #000;
    opacity: 1;
}

.carousel-indicators {
    margin-top: 20px;
}



/*.col-md-offset-2-5 {
    margin-left: 40%;
}*/

.customer-separator {
    margin-bottom: 1.5em;
}

.electric-blue {
    color: #00b6f1;
}

/*.fadeInQuick {
    animation-name: fadeInQuick;
}*/

/*.featured-box {
    height: 150px;
}*/

.featured-image {
    max-width: 555px;
}

.flow-right {
    float: right;
}

.header-links {
    padding-top: 10px;
    font-size: 11px;
    color: #bbbbbb;
}

/*.hero-padding {
    padding-top: 1.5em;
}*/

.hover-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #FFF;
    z-index: 10;
    transition: 0.2s;
}

    .hover-overlay:hover {
        cursor: pointer;
        background-color: rgba(83, 159, 195, .53);
    }


/*.image-container {
    width: 100%;
}*/

/*.image-box {
    padding: 0 30px;
}*/

.img-responsive {
    width: 100%;
}

.item.active {
    transition: .5s;
}

.jump-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    max-width: 204px;
}

    .jump-box:hover {
        cursor: pointer;
    }

.logo-container {
    position: relative;
}

    .logo-container.active > .logo-overlay {
        cursor: pointer;
        background-color: rgba(83, 159, 195, .53);
    }

.logo-overlay:hover {
    cursor: pointer;
    background-color: rgba(83, 159, 195, .13);
}

.m-b-16 {
    margin-bottom: 16px;
}

.member-container {
    position: relative;
}

.modal-backdrop.in {
    opacity: 0.8 !important;
}

.modal-content {
    border-radius: 0;
}

.modal-dialog {
    margin: -2000px auto;
    max-width: 860px;
    width: 95%;
}

.modal-header {
    padding: 40px;
    border-bottom: 0;
}

/*.modal-footer {
    border-top: 0;
}*/

.modal-title {
    font-size: 3em;
}

.m-t-5 {
    margin-top: 5px;
}

.name {
    margin-top: 75%;
    font-size: 1.15em;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-lr {
    margin-left: 0;
    margin-right: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-padding-lr {
    padding-left: 0;
    padding-right: 0;
}

ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin: 2px auto 0 auto;
    width: 60%;
    left: 0;
    right: 0;
}

    ol.carousel-indicators li {
        float: left;
        width: 16%;
        height: 5px;
        margin: 0;
        margin-top: 3px;
        margin-left: 4.5%;
        margin-right: 4.5%;
        border-radius: 0;
        border: 0;
        background: grey;
    }

        ol.carousel-indicators li.active {
            float: left;
            width: 16%;
            height: 7px;
            margin: 0;
            margin-top: 2px;
            margin-left: 4.5%;
            margin-right: 4.5%;
            border-radius: 0;
            border: 0;
            background: transparent;
        }

        ol.carousel-indicators li.active {
            background: black;
        }


    ol.carousel-indicators.logo-indicators {
        position: absolute;
        bottom: 0;
        margin: 2px auto 0 auto;
        width: 100%;
        left: 0;
        right: 0;
    }

        ol.carousel-indicators.logo-indicators li {
            float: left;
            width: 23%;
            height: 0;
            margin: 0;
            margin-top: 3px;
            margin-left: 1.25%;
            margin-right: 1.25%;
            border-radius: 0;
            border: 0;
            background: grey;
        }

            ol.carousel-indicators.logo-indicators li.active {
                float: left;
                width: 23%;
                height: 0;
                margin: 0;
                margin-top: 3px;
                margin-left: 1.25%;
                margin-right: 1.25%;
                border-radius: 0;
                border: 0;
                background: transparent;
            }

            ol.carousel-indicators.logo-indicators li.active {
                background: black;
            }



            ol.carousel-indicators.logo-indicators li:first-child {
                margin-left: 0;
                margin-right: 1.5%;
            }

                ol.carousel-indicators.logo-indicators li:first-child.active {
                    margin-left: 0;
                    margin-right: 1.5%;
                }

            ol.carousel-indicators.logo-indicators li:nth-child(4) {
                margin-left: 1.5%;
                margin-right: 0;
            }

                ol.carousel-indicators.logo-indicators li:nth-child(4).active {
                    margin-left: 1.5%;
                    margin-right: 0;
                }

.leadership-container {
    padding: 30px;
    background-color: #878787;
}

.padding-40 {
    padding: 40px;
}

.padding-lr-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-t-40 {
    padding-top: 40px;
}

.padding-t-80 {
    padding-top: 80px;
}

.padding-tb-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*.solution {
    border: 1px solid black;
}*/

.scrollToTop {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1005;
    color: #fff;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    .scrollToTop:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }

/*.solution-image {
    margin: 20px auto 20px auto;
    width: 113px;
}*/


.zoomIn {
    animation-name: zoomIn;
}

/*@keyframes fadeInQuick {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}*/

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .13);
    }

    50% {
        opacity: 1;
    }
}

/*@media (max-width: 420px) {
    .xs-no-margin-lr {
        margin-left: 0;
        margin-right: 0;
    }
}*/

@media (min-width: 421px) and (max-width: 991px) {
    .image-box {
        padding: 0 30px;
    }
}

@media(max-width: 767px) {
    .modal-title {
        font-size: 1.25em;
    }

    .name {
        font-size: .75em;
    }

    .no-padding-lr:nth-child(odd) {
        padding-left: 15px;
    }

    .no-padding-lr:nth-child(even) {
        padding-right: 15px;
    }

    .title {
        font-size: 0.6em;
    }

    .xs-center {
        text-align: center;
    }

    .xs-view-all {
        display: flex;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 768px) {
    .hero-bg-image > .container, .hero-bg-image > .container-fluid {
        padding-top: 6em;
        padding-bottom: 6em;
    }
}

@media (min-width: 768px) {

    .bottom-border {
        border-bottom: 1px solid black;
    }

    .image-box {
        padding: 0 30px;
    }
}

@media (min-width: 992px) {
    .image-box {
        padding: 0 100px;
    }
}

@media (min-width: 1200px) {
    .image-box {
        padding: 0 100px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1200px
    }
}
