/*a.arrowLinkIcon {
    display: inline-block !important;
    float: left;
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 20px 30px 0px 0px;
    line-height: 21px !important;
    -webkit-transition: padding .2s ease;
    -o-transition: padding .2s ease;
    transition: padding .2s ease;
    font-size: 18px;
    color: #FFFFFF;
    background-image: url(http://cdn.quantum.com/cmsimages/white-transparent-arrow.png);
}

    a.arrowLinkIcon:hover {
        padding-right: 34px;
    }*/

/*a.floatingPlayButtonSmall.videoBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -55px;
    margin-top: -55px;
    z-index: 10;
}*/

/*a.floatingPlayButtonSmall {
    background: url(http://cdn.quantum.com/cmsImages/videoButtonNew-on-small.png) 50% 50% no-repeat;
    width: 110px;
    height: 110px;
    border-style: solid;
    border-width: 0px;
    display: block;
    text-indent: -999px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 10;
}*/

    a.floatingPlayButtonSmall:hover {
        background: url(http://cdn.quantum.com/cmsImages/videoButtonLightGrey-off-small.png) 50% 50% no-repeat;
    }

.application-options {
    display: none;
    border-top: 1px solid black;
}

.border-top {
    border-top: 1px solid black;
}

.btn.filter-page {
    font-size: 14px;
    padding: 6px 5px;
}

.customer-success-link {
    color: #333333 !important;
    text-decoration: none;
}

    .customer-success-link:hover {
        color: #00b6f1 !important;
    }

    .customer-success-link:active {
        color: #00b6f1;
    }

    .customer-success-link:focus {
        color: #00b6f1;
        text-decoration: none;
    }

.dropdown-menu > p.select {
    display: block;
    margin-bottom: 5px;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    color: #333;
    white-space: nowrap;
}

    .dropdown-menu > p.select:hover {
        cursor: pointer;
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
    }

.even-spacing {
    display: flex;
    justify-content:space-between;
}

.filter-btn {
    display: inline-block;
    width: 29.85%;
}

.filter-item {
    margin-bottom: 15px;
}

.filter-mobile-btn {
    padding: 10px 20px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
}

.filter-width {
    width: 100%;
}

.industry-options {
    display: none;
    border-top: 1px solid black;
}

.isotope-container-fitrows {
    display: none;
}

.mobile-filter {
    position: absolute;
    display: none;
    left: 0;
    top: 40px;
    padding: 0 20px 20px 20px;
    border: 1px solid black;
    border-top: 0;
    background-color: #FFFFFF;
    text-align: left;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 11;
}

.or-spacer {
    margin-left: 1%;
    margin-right: 1%;
}

.overlay-container {
    position: relative;
}

.page-title {
    font-size: 2em;
    margin-bottom: 20px !important;
}

.product-options {
    display: none;
    border-top: 1px solid black;
}

.watch-btn {
    display: none;
}




@media(max-width: 767px) {
    .page-title {
        font-size: 24px;
        margin-bottom: 20px !important;
    }

    .xs-video {
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: url('http://via.placeholder.com/400x385');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .watch-btn {
        display: block;
        text-align: center;
    }
}



@media (max-width: 768px) {
    body {
        font-size: 18px;
    }

    .col-sm-no-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .hover-overlay {
        display: none;
    }

    .p-l-15 {
        padding-left: 15px;
    }

    .p-r-15 {
        padding-right: 15px;
    }

    .responsive-padding {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(min-width: 768px) and (max-width: 768px) {
    .filter-width {
        width: 70%;
        float: right;
    }

    .font-size {
        font-size: 13px;
    }

    .open > .dropdown-menu {
        left: initial;
        right: 0;
    }

    .or {
        display: none;
    }

    .padding-col-sm {
        padding-left: 0;
        padding-right: 0;
    }

    .sm-padding-r-3 {
        padding-right: 3px;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
    }

    .sm-padding-l-3 {
        padding-left: 3px;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
    }

    .sm-padding-r-6 {
        padding-right: 6px;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
    }

    .sm-padding-l-6 {
        padding-left: 6px;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
    }

    .xs-video {
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: url('http://via.placeholder.com/768x385');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .watch-btn {
        display: block;
    }
}

@media (min-width: 768px) {

    .watch-btn {
        float: right;
    }
}


@media (max-width: 1200px) {
    .or-spacer {
        margin-left: 0.66%;
        margin-right: 0.66%;
    }
}
