
/*Banner Background Images********************************************************/
.one {
    background-image: url('http://via.placeholder.com/1920x550');
}

.two {
    background-image: url('http://via.placeholder.com/1920x550');
}

.three {
    background-image: url('http://via.placeholder.com/1920x550');
}

.four {
    background-image: url('http://via.placeholder.com/1920x550');
}

.five {
    background-image: url('http://via.placeholder.com/1920x550');
}

.six {
    background-image: url('http://via.placeholder.com/1920x550');
}

@media(max-width: 425px) {
    .one {
        background-image: url('http://via.placeholder.com/420x450');
    }

    .two {
        background-image: url('http://via.placeholder.com/420x450');
    }

    .three {
        background-image: url('http://via.placeholder.com/420x450');
    }

    .four {
        background-image: url('http://via.placeholder.com/420x450');
    }

    .five {
        background-image: url('http://via.placeholder.com/420x450');
    }

    .six {
        background-image: url('http://via.placeholder.com/420x450');
    }
}

@media(min-width: 426px) and (max-width: 768px) {
    .one {
        background-image: url('http://via.placeholder.com/768x450');
    }

    .two {
        background-image: url('http://via.placeholder.com/768x450');
    }

    .three {
        background-image: url('http://via.placeholder.com/768x450');
    }

    .four {
        background-image: url('http://via.placeholder.com/768x450');
    }

    .five {
        background-image: url('http://via.placeholder.com/768x450');
    }

    .six {
        background-image: url('http://via.placeholder.com/768x450');
    }
}
/*********************************************************************************/


.banner {
    position: relative;
    height: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

    .banner .banner-clickable {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-indent: -9999px;
        z-index: 1000;
    }

.banner-bg-grey {
    background-color: #CCCCCC;
}

.carousel-indicators {
    margin-top: 20px;
}

.chat-box {
    display: none;
    position: fixed;
    bottom: 0;
    right: 50%;
    margin-right: -60px;
    height: 60px;
    width: 120px;
    background-color: #FFFFFF;
    border: 1px solid black;
    z-index: 99;
}

.flow-right {
    float: right;
}

.header-links {
    padding-top: 10px;
    font-size: 11px;
    color: #bbbbbb;
}

.header {
    background-color: #000000;
}

.hero-padding {
    padding-top: 1.5em;
}

.item:hover {
    cursor: pointer;
}

.image-container {
    width: 100%;
}

.img-responsive {
    width: 100%;
}


.m-b-half {
    margin-bottom: 0.5em;
}

.m-t-20 {
    margin-top: 20px !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-lr {
    margin-left: 0;
    margin-right: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-padding-lr {
    padding-left: 0;
    padding-right: 0;
}

.p-b-40 {
    padding-bottom: 40px;
}

.p-lr-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.p-t-40 {
    padding-top: 40px;
}

.solution {
    padding: 20px 12% 10px 12%;
    border: 1px solid black;
    transition: 0.5s;
}

    .solution:hover {
        cursor: pointer;
        background-color: rgba(140, 180, 199, 1);
        color: #FFFFFF;
    }

    .solution.active {
        background-color: rgba(140, 180, 199, 1) !important;
        color: #FFFFFF !important;
    }

.solution-container {
    position: relative;
}

    .solution-container .clickable {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-indent: -9999px;
        z-index: 1000;
    }

.solution-image {
    margin: 20px auto 20px auto;
}


ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin: 2px auto 0 auto;
    width: 80%;
    left: 0;
    right: 0;
}

    ol.carousel-indicators li {
        float: left;
        width: 24%;
        height: 5px;
        margin: 0;
        margin-top: 3px;
        margin-left: 9%;
        border-radius: 0;
        border: 0;
        background: grey;
    }

        ol.carousel-indicators li.active {
            float: left;
            width: 24%;
            height: 7px;
            margin: 0;
            margin-left: 9%;
            border-radius: 0;
            border: 0;
            background: transparent;
        }

        ol.carousel-indicators li.active {
            background: black;
        }



@media(min-width: 768px) and (max-width: 768px) {
    .solution {
        border: none;
    }
}

@media(max-width: 767px) {
    .banner {
        height: 300px;
    }
    .box-on-right {
        top: 300px
    }

    .center-xs {
        text-align: center;
    }

    .solution {
        padding: 1px;
    }

    .xs-full-width {
        width: 100%;
    }

    .xs-p-t-40 {
        padding-top: 40px;
    }

    .xs-solution {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 40px;
        width: 100%;
        border: 1px solid black;
    }

        .xs-solution:hover {
            cursor: pointer;
        }
}

@media (max-width: 768px) {
    .banner .banner-clickable {
        display: none;
    }
    body {
        font-size: 16px;
    }


    .hero-padding {
        padding-top: 3em;
    }

    .hidden-vs {
        display: none;
    }

    .no-border-bottom {
        border-bottom: 0;
    }

    .no-border-right {
        border-right: 0;
    }
    .solution-container .clickable {
        display: none;
    }
    .solution-image {
        margin: 0;
    }

        .solution-image > h2 {
            margin: 10px 0;
        }

    .xs-n-m-b {
        margin-bottom: 0 !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .solution {
        border: none;
    }

    .col-sm-p-lr-40 {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 992px) {
    h2 {
        font-size: 1.5em;
        font-weight: 600;
    }

    h3 {
        font-size: 1.25em;
        font-weight: 600;
    }
}


@media (min-width: 769px) {
    h2.p-t-40 {
        padding-top: 0;
    }
}

@media (min-width: 992px) {
    .hero-padding {
        padding-top: 4.5em;
    }
}

@media (min-width: 1200px) {

    .hidden-lg {
        display: none !important;
    }

    .hero-padding {
        padding-top: 6em;
    }
}

/*@media (min-width: 1600px) {
    .circle-padding {
        padding-left: 40px;
        padding-right: 40px;
    }

    .container {
        width: 1570px;
    }
}*/

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: -webkit-transform .6s ease-in-out;
        -o-transition: transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
    }

        .carousel-inner > .item.next,
        .carousel-inner > .item.active.right {
            left: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }

        .carousel-inner > .item.prev,
        .carousel-inner > .item.active.left {
            left: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }

            .carousel-inner > .item.next.left,
            .carousel-inner > .item.prev.right,
            .carousel-inner > .item.active {
                left: 0;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
}
