

.bg-black {
    background-color: #000000;
}

.bg-grey {
    background-color: #cccccc;
    color: #000000;
}



.border-bottom {
    border-bottom: 1px solid black;
}

.carousel-icon {
    width: 165px;
}

.carousel-inner {
    padding-bottom: 20px;
}


.featured-conversion-bg {
    background-image: url(http://via.placeholder.com/1550x400/ededed);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}

.featured-benefits {
    font-size: 20px;
    line-height: 28px;
    color: #808080;
}

.featured-link {
    font-family: Arimo, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #424141 !important;
}

    .featured-link:hover {
        color: #21c9ff !important;
    }

.flow-right {
    float: right;
}

.header-links {
    padding-top: 10px;
    font-size: 11px;
    color: #bbbbbb;
}

.img-responsive {
    width: 100%;
}

.img-circle {
    margin: 0 auto;
}

.left-border {
    border-left: 1px solid #ffffff;
}

.m-t-5 {
    margin-top: 5px;
}

.margin-bottom-40 {
    margin-bottom: 27px;
}

.model-box {
    padding: 40px;
    min-height: 367px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: 15px solid #00B6F1;
}


    .model-box:hover {
        padding: 38px;
        border-left: 17px solid #00B6F1;
        border-right: 2px solid #00B6F1;
        border-bottom: 2px solid #00B6F1;
        border-top: 2px solid #00B6F1;
    }

.grab {
    cursor: -moz-grab !important;
    cursor: -webkit-grab !important;
    cursor: grab !important;
}

.grabbing {
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
    cursor: grabbing !important;
}

.multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left;
}

.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}

.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}

.multi-item-carousel .carousel-inner .next {
    left: 33%;
}

.multi-item-carousel .carousel-inner .prev {
    left: -33%;
}

ol.carousel-indicators {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2px auto 0 auto;
    width: 80%;
}

    ol.carousel-indicators li {
        display: none;
        float: left;
        width: 24%;
        height: 5px;
        margin: 0;
        margin-top: 3px;
        margin-left: 4.5%;
        margin-right: 4.5%;
        border-radius: 0;
        border: 0;
        background: grey;
    }

        ol.carousel-indicators li.active {
            float: left;
            width: 24%;
            height: 10px;
            margin: 0;
            margin-left: 4.5%;
            margin-right: 4.5%;
            border-radius: 0;
            border: 0;
            background: transparent;
        }

        ol.carousel-indicators li.active {
            background: black;
        }

    ol.carousel-indicators.customer-success, ol.carousel-indicators.product-showcase, ol.carousel-indicators.mobile-product-showcase {
        position: absolute;
        left: 0%;
        right: 0;
        bottom: 0;
        margin: 2px auto 0 auto;
        width: 33%;
    }

        ol.carousel-indicators.customer-success li, ol.carousel-indicators.product-showcase li, ol.carousel-indicators.mobile-product-showcase li {
            float: left;
            width: 12.5%;
            height: 5px;
            margin: 0;
            margin-top: 3px;
            margin-left: 2.08%;
            margin-right: 2.08%%;
            border-radius: 0;
            border: 0;
            background: grey;
        }

            ol.carousel-indicators.customer-success li.active, ol.carousel-indicators.product-showcase li.active, ol.carousel-indicators.mobile-product-showcase li.active {
                margin-top: 2px;
                height: 7px;
            }

            ol.carousel-indicators.customer-success li.active, ol.carousel-indicators.product-showcase li.active, ol.carousel-indicators.mobile-product-showcase li.active {
                background: black;
            }


.padding-40 {
    padding: 40px;
}

.padding-b-40 {
    padding-bottom: 40px;
}

.padding-t-40 {
    padding-top: 40px;
}

.padding-t-80 {
    padding-top: 80px;
}

.padding-tb-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}


.product-hero-image {
    background-image: url("../images/product-banner-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-1-bg {
    background-image: url("../images/huesaturation5.png");
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-2-bg {
    background-image: url("../images/huesaturation5-1.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.right-border {
    border-right: 1px solid #ffffff;
}

.thumbnail-video {
    position: relative;
    width: 100%;
}

.video-box {
    padding: 40px;
    border: 1px solid black;
}

.white-text {
    color: #FFFFFF !important;
}

@media (max-width: 500px) {
    .customer-box {
        height: 50px;
    }

    .gutter-5.row {
        margin-right: 5px;
        margin-left: 5px;
    }

    .gutter-5 [class^="col-"] {
        margin-bottom: 10px;
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media(max-width: 767px) {
    ol.carousel-indicators.customer-success, ol.carousel-indicators.product-showcase, ol.carousel-indicators.mobile-product-showcase {
        position: absolute;
        left: 0%;
        right: 0;
        bottom: 0;
        margin: 2px auto 0 auto;
        width: 80%;
    }

    .max-width-xs {
        width: 100%;
    }

    .products .p-lr-40 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .right-border.p-lr-40 {
        border-right: none;
    }
}

@media (min-width: 768px) and (max-width: 768px) {
    .btn {
        padding: .618em 1.5em;
    }

    .circle-padding {
        padding-left: 60px;
        padding-right: 60px;
    }

    .customer-box {
        height: 100px;
    }

    .desktop-padding {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    .product-description {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width:768px) and (max-width: 991px) {
    .multi-item-carousel .carousel-inner .active.left {
        left: -50%;
    }

    .multi-item-carousel .carousel-inner .active.right {
        left: 50%;
    }

    .multi-item-carousel .carousel-inner .next {
        left: 50%;
    }

    .multi-item-carousel .carousel-inner .prev {
        left: -50%;
    }
}

@media (min-width: 1024px) {
    .desktop-padding {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    .padding-lr-40 {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
        -webkit-transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out left;
        -webkit-transition: 500ms ease-in-out all;
        transition: 500ms ease-in-out all;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        -webkit-transform: none !important;
        transform: none !important;
    }
}
