/*a.arrowLinkIcon {
    display: inline-block !important;
    float: left;
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 20px 30px 0px 0px;
    line-height: 21px !important;
    -webkit-transition: padding .2s ease;
    -o-transition: padding .2s ease;
    transition: padding .2s ease;
    font-size: 18px;
    color: #FFFFFF;
    background-image: url(http://cdn.quantum.com/cmsimages/white-transparent-arrow.png);
}

    a.arrowLinkIcon:hover {
        padding-right: 34px;
    }*/

/*a.floatingPlayButtonSmall.videoBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -55px;
    margin-top: -55px;
    z-index: 10;
}*/

a.floatingPlayButtonSmall {
    background: url(http://cdn.quantum.com/cmsImages/videoButtonNew-on-small.png) 50% 50% no-repeat;
    width: 110px;
    height: 110px;
    border-style: solid;
    border-width: 0px;
    display: block;
    text-indent: -999px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 10;
}

    a.floatingPlayButtonSmall:hover {
        background: url(http://cdn.quantum.com/cmsImages/videoButtonLightGrey-off-small.png) 50% 50% no-repeat;
    }

.big-circle {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.bordered-container {
    position: relative;
    padding: 20px;
    border: 2px solid #dddddd;
}

.breadcrumb {
    margin: 0 !important;
    margin-bottom: 20px;
    padding: 8px 0;
    background-color: transparent;
    font-size: 12px;
    text-transform: upperCase;
    list-style: none;
}


/*.circle {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 100%;
}*/

.customer-logo {
    margin: 0 auto;
    padding-bottom: 15px;
    max-width: 280px;
}

/*.divider {
    width: 100%;
}*/

.flow-right {
    float: right;
}

.header-links {
    padding-top: 10px;
    font-size: 11px;
    color: #bbbbbb;
}

.logo-container {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.img-responsive {
    width: 100%;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-20 {
    margin-top: 20px;
}
.no-margin-bottom {
    margin-bottom: 0;
}
.page-title {
    font-size: 2em;
    margin-bottom: 20px !important;
}
.padding-r-20 {
    padding-right: 20px;
}
.padding-tb-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.p-b-40 {
    padding-bottom: 40px;
}

/*.quote {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}*/

.scrollToTop {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1005;
    color: #fff;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    .scrollToTop:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }

.similar-solution {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 84px;
    background-color: #0f73c3;
    color: #FFFFFF;
    font-size: 12px;
}

@media(max-width: 767px) {
    .flow-right {
        float: initial;
    }
    .mobile-height {
        display: flex;
        align-items: center;
        height: 58px;
    }
    .page-title {
        font-size: 24px;
        margin-bottom: 20px !important;
    }

    /*.xs-video {
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: url('http://via.placeholder.com/400x385');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }*/
}

@media (max-width: 768px) {
    body {
        font-size: 18px;
    }
    
    .responsive-padding {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(min-width: 768px) and (max-width: 768px) {
    /*.xs-video {
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: url('http://via.placeholder.com/768x385');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }*/
}

@media (max-width: 991px) {
    .customer-logo {
        margin: 0;
    }
    .sm-vertical-center {
        display: flex;
        align-items: center;
        height: 84px;
    }
}

